<div class="exchange d-flex align-items-center justify-content-between">
  <div class="result d-flex flex-column">
    <span class="fw-bold fs-4">Exchange rate now</span>
    <span class="fw-lighter fs-6">09/03/2022 - 15h09</span>
  </div>
  <div class="money d-flex align-items-center justify-content-end">
    <span class="fw-bold fs-2">USD/BRL</span>
  </div>
</div>

<div class="exchange-result mt-3 mb-3 d-flex justify-content-center">
  <span class="d-flex align-items-center fs-2 fw-bold">R$ 5,00</span>
</div>
