.extendExchange {
    border-color: var(--primary);
    border-bottom: 2px solid var(--primary);

    fa-icon {
        color: var(--primary);
        font-size: 1.5rem;
    }

}

.card {
    background-color: var(--gray-100);
}