<div class="history">
    <span class="date">09/03/2022</span>
    
    <div class="table d-flex">
        <span class="d-flex align-items-center">Open: <b>R$ 5.0666</b></span>
        <span class="d-flex align-items-center">Hight: <b>R$ 5.0689</b></span>
    </div>

    <div class="table d-flex">
        <span class="d-flex align-items-center">Close: <b>R$ 5.0038</b></span>
        <span class="d-flex align-items-center">LOw: <b>R$ 4.9836</b></span>
    </div>
    
    <div class="table">
        <span class="d-flex align-items-center">
            close diff (%):
            <b class="text-danger">
                -1.15% <fa-icon [icon]="faChevronDown"></fa-icon>
            </b>
        </span>
    </div>

</div>
